@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rye&display=swap');

*,
.html {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #2c2b30;
  overflow-x: hidden;
  overflow-y: auto;
}

.timer {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #f58f7c;
}

.calc-page {
  position: absolute;
  top: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
  color: #f58f7c;
}

.calc-page h2 {
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
}

.quote-page {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #2c2b30;
  color: #f58f7c;
}

.quote {
  width: 60%;
  color: var(--dark-blue);
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-family: 'Kalam', cursive;
}

.home-page {
  max-width: 80%;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 8rem 4rem 0 4rem;
  display: flex;
  flex-direction: column;
  background-color: #2c2b30;
  color: #f58f7c;
}

.home-page p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: #d6d6d6;
  text-align: justify;
}

.home-page h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.container {
  max-width: 33vw;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  background-color: #555;
  color: #eee;
  box-shadow: 4px 4px 111px #4f4f51, -4px -4px 111px #4f4f51;
}

@media screen and (max-width: 768px) {
  .calc-page {
    top: 5rem;
    flex-direction: column;
    align-items: start;
  }

  .calc-page h2 {
    margin: 1rem auto;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
  }

  .container {
    margin: 0 auto;
    max-width: 90vw;
    box-shadow: 2px 2px 5px #4f4f51, -2px -2px 5px #4f4f51;
  }

  .home-page {
    max-width: 95%;
    padding: 5rem 1rem;
  }

  .home-page p {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    line-height: 1.2;
  }

  .home-page h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .quote-page {
    align-items: start;
    padding-top: 40%;
  }

  .quote {
    width: 95%;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
  }
}

.btn-holder {
  display: flex;
  flex-wrap: wrap;
}

.display {
  display: flex;
  flex-direction: column;
}

.display-top {
  padding: 0.5rem;
  height: 2rem;
  background-color: rgb(72, 77, 74);
  text-align: right;
  margin: 0 1%;
  color: #ffe;
  border: 2px solid #999;
  border-bottom: 2px solid transparent;
  word-break: break-all;
  white-space: normal;
}

.calc-display {
  min-height: 6rem;
  padding: 0 0.5rem;
  font-size: 2.5rem;
  background-color: rgb(72, 77, 74);
  text-align: right;
  margin: 0 1%;
  color: #ffe;
  border: 2px solid #999;
  border-top: 2px solid transparent;
  margin-bottom: 2%;
  word-break: break-all;
  white-space: normal;
}

.btn {
  background-color: rgb(32, 11, 34);
  font-size: 1.5rem;
  height: 3.5rem;
  width: 23%;
  margin: 1%;
  border-radius: 5px;
  color: #ffe;
  border: none;
  box-shadow: 3px 4px 34px -3px rgba(98, 98, 122, 0.29);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: rgba(32, 11, 34, 0.8);
}

.btn-color {
  background-color: rgb(51, 35, 5);
}

.btn-color:hover {
  background-color: rgba(51, 35, 5, 0.8);
}

.long {
  width: 48%;
}
